#app {

    .bp3-navbar.bp3-dark {
        background: #55272B;
    }

    .bp3-navbar-heading.logo {
        background-image: url('/jetpax-app-icon.png');
        height: 100%;
        width: 79px;
        background-repeat: no-repeat;
        background-size: 68px;
        background-position: center -8px;
        margin-right: 30px;
    }

    .bp3-navbar .bp3-button,
    .bp3-navbar .bp3-button .bp3-icon {
        color: #F7C946;
    }

    .bp3-navbar a {
        text-decoration: none;
    }


    .bp3-navbar .bp3-button.selected,
    .bp3-navbar .bp3-button.selected .bp3-icon {
        color: #ffffff;
    }

}
