#db-gui {
  .key-list,
  .entry-value {
    height: 85vh;
    width: 50%;
    border: solid 1px #ddd;
    overflow: auto;
  }

  .key-list {
    float: left;

    table {
      tr.selected td {
        background: #137CBC;
        color: white;
      }
    }
  }
  .entry-value {
    border-left: none;
    float: right;

    .entry-value-data {
      display: flex;
      height: 100%;
      background: #f0f0f0;
      margin: 0;
      padding: 10px;
    }
  }
}
